#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[template-aliases]
"remote_tracked_bookmark(self)" = '''
concat(
  separate(" ",
    label("bookmark", "@" ++ remote),
    if(present, format_tracked_remote_ref_distances(self)),
  ),
  if(present, format_ref_targets(self), " (not created yet)"),
)
'''
"bookmark_desynced" = '''
if(remote
    && tracked
    && (!self.tracking_ahead_count().zero() || !self.tracking_behind_count().zero()),
  remote_tracked_bookmark(self)
)
'''
"bookmark_ahead" = '''
if(remote
    && tracked
    && !self.tracking_ahead_count().zero(),
  remote_tracked_bookmark(self)
)
'''
"bookmark_behind" = '''
if(remote
    && tracked
    && !self.tracking_behind_count().zero(),
  remote_tracked_bookmark(self)
)
'''
