#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[aliases]
l3 = ["log", "--limit", "3"]
l5 = ["log", "--limit", "5"]
lh = ["log", "-r", "@ | ancestors(remote_bookmarks().., 2) | trunk()"]
gf = ["git", "fetch"]
gp = ["git", "push"]
desynced = ["bookmark", "list", "--tracked", "--template", "bookmark_desynced"]
ahead = ["bookmark", "list", "--tracked", "--template", "bookmark_ahead"] # remote is ahead
behind = ["bookmark", "list", "--tracked", "--template", "bookmark_behind"] # remote is behind

